/* .container {
  background-color: rgb(192, 216, 208);
  width: 400px;
  height: 500px;
  border-radius: 9px;
}
.basliq {
  margin: 15px;
  padding-top: 10px;
}
input {
  gap: 10px;
} */
